# task1:- Creating veriables

- create a veriable rollno and assign an integer value to it. print the value of rollno, the id and datatype.

In [17]:
rollno= 4

In [5]:
print(rollno)
print(id(rollno))
print(type(rollno))

4
3092260153744
<class 'int'>

- create a veriable firstname and assign a string value to it. print the value of firstname, id and datatype.

In [10]:
firstname='sanket'

In [11]:
print(firstname)
print(id(firstname))
print(type(firstname))

sanket
1500018971120
<class 'str'>

- create a veriable lastname and assign a string value to it. print the value of lastname, id and datatype.

In [12]:
lastname='bhosale'

In [13]:
print(lastname)
print(id(lastname))
print(type(lastname))

bhosale
1500018204912
<class 'str'>

- create a veriable maxmarks and assign the value 50 to it.print value the maxmarks, id and datatype.

In [10]:
maxmarks= 50

In [11]:
print(maxmarks)
print(id(maxmarks))
print(type(maxmarks))

50
3092260155216
<class 'int'>

# Task-2:- Naming a veriable.

- execute the following expression individually and explain the observation to each of them.

In [16]:
var1=2
var1

2

- Interpretation :-
    - in above code, we use correct syntax thats why we get an output without  any error.
    - in Veriable syntax the veriables are only start with a character value.

In [13]:
2var=2

SyntaxError: invalid syntax (1729216075.py, line 1)

- Interpretation :-
   - The veriables can not have number for starting eg. 2var=2.
   - due to this we got a syntax error in this code.

In [14]:
var 1=2

SyntaxError: invalid syntax (3073352835.py, line 1)

- Interpretation:-
  - The veriable cant have space between them.
  - if we put some space then we got the syntax error.

In [15]:
var$2=2

SyntaxError: invalid syntax (661466017.py, line 1)

- Interpretation:-
   - The veriables will not haveany special characters.
   - we can only use underscore but its has some diferant meaning in python.

# Task-3:- Assigning values to veriables

- execute the following expressions individually and explain the observations to each them.

In [23]:
Class=15
Class

15

Interpretation :-
- the veriables are very case sensitive.
- in this veriable the first alphabet is in capital letter.
- here we used the word 'Class' which not present in python dictionary.
- thats why the value is assign to the veriable.

In [18]:
class=14

SyntaxError: invalid syntax (1944381924.py, line 1)

Interpretation :-
- the veriables are very case sensitive.
- here we assign a value to 'class' veriable.
- butthe 'class' veriable is already avilabe in python dictionary.
- Due to this we got an syntax error.
- And we are not able to assign a value to it.

In [24]:
DEF=13
DEF

13

Interpretation :-
- Here we are assign the values to 'DEF' veriable.
- in this veriable all the letters are in uppercase.
- this veriable was not avilable in python dictionary.
- so we are able to assign a value to the 'DEF' veriable.

In [20]:
def=12

SyntaxError: invalid syntax (1379353252.py, line 1)

Interpretation :-
- here we assign the value to the veriable which are already avilable in dictionary.
- so the value is not assign to the veriable.
- the veriables avilable in the dictionary is turns GREEN.

In [21]:
a=TRUE

NameError: name 'TRUE' is not defined

Interpretation :-
- in this condition the all letters are in uppercase.
- as we know the veriables are very case sensitive so its show an error.
- The correct veriable is 'True' which has only first letter is capital.

In [22]:
b=false

NameError: name 'false' is not defined

Interpretation :-
- In this conditon all letters in lowercase.
- Due to all lowercase letters we got an error.
- The correct veriable is 'False'.

# Task-4:- Using id()

- Create a veriable named as mark and assign it a float value between 0 and 100 print the value,id and datatype.

In [1]:
mark= 81.29

In [2]:
print(mark)
print(id(mark))
print(type(mark))

81.29
1500018688688
<class 'float'>

- change the value of marks to any other float value between 0 to 100. print value of marks,id and datatypes.

In [3]:
mark= 74.08

In [4]:
print(mark)
print(id(mark))
print(type(mark))

74.08
1500018689072
<class 'float'>

- is the id for the mark veriable in the last two question the same or differant? Explain it

Interpretation:-
- The id for first question and second question is differant.
- It has total 13 numbers with unique configurations.
- But the first 7 numbers are common.
- next 6 numbers are differant from each other.

# Task-5:- Formatting the output.

- Define averiable maxmarks and assign the value 100. divide marks by maxmarks. print output as percentage.

In [5]:
maxmarks= 100
mark=  74.08

In [6]:
a=mark/maxmarks*100
print(str(a)+'%')

74.08%

- Print the value of the veriable fullname by joining firstname and lastname.

In [14]:
fullname= firstname+' '+lastname
print(fullname)

sanket bhosale

- print the value of veriable fullname with 'scored' followed by the percentage of marks.

In [15]:
print(fullname,'scored',str(a)+'%')

sanket bhosale scored 74.08%

# Task-6:- Creating data structure.

- Use veriable rollno as a key and the veriable fullname as a value to create a dictionary data structure.

In [18]:
my_data={rollno: fullname}
print(my_data)

{4: 'sanket bhosale'}

- Use the veriables rollno, fullname, marks as the value create a list data structure.

In [19]:
data_list=[rollno, fullname, mark]

In [20]:
print(data_list)

[4, 'sanket bhosale', 74.08]

# Task-7:- Arithmatic Operations

- Execute the following expression and explain the observation of output.

In [21]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Interpretation:-
- In this task the compiler noted the first value as integer and second value as string.
- so the string and integer values are never get added.
- thats why it shows an Unsupported operand type error.

In [22]:
"1"+"2"

'12'

Interpretation:-
- In this task both the values are assumed as a string value.
- and the compiler concat the both value together and show the output as 12.

In [23]:
1/2

0.5

Interpretation:-
- In this task we simply divide 1 by 2 and compiler gives an output.
- In this output we got a float value which is 0.5.

In [24]:
1//2

0

Interpretation:-
- In this task we use the divide symbol twice.
- When we are using this (//) then we get an Integer value as a output.

# Task-8:-Logical Operations

- Execute the following commands and explain the output for each

In [25]:
True and True

True

Interpretation:-
- The AND operator are show TRUE when both side of the operator are TRUE.
- Same condition is applied here so we get TRUE as a output.

In [26]:
True and False

False

Interpretation:-
- The both side of operator are differant so we get FALSE as a output.

In [27]:
False or True

True

Interpretation:-
- In OR operator, if any side of the operator is TRUE then its give TRUE as output.

In [28]:
False or False

False

Interpretation:-
- In this condition both the values are false so its show output as FALSE.

# Task-9:-Identify and membership operation

- compare firstname and fullname using 'in' operator. print and explain output.

In [29]:
firstname in fullname

True

Interpretation:-
- In this task we use 'IN' operator.
- the firstname is a part of fullname.
- Its showing the output as TRUE.

- Compare firstname and fullname using 'is' operator.print and explain the output.

In [30]:
firstname is fullname

False

Interpretation:-
- In this task we used 'IS' operator.
- this operator is compare both the values and gives output.
- this condition we got False as output.

# Task-10:-Associativity

In [31]:
a=4

In [32]:
b=3

In [33]:
c=2

In [34]:
d=a**b+c

In [35]:
e=a**(b+c)

- print the value of d.

In [36]:
print(d)

66

- print the value of e.

In [37]:
print(e)

1024

- Explain why the values ofd and e are same or differant.

Interpretation:-
- Firstly we assign the values for the veriables (a,b and c).
- In first task we got output for 'd' as 66.
- this task the power function is execute first.
- Then the addition function is execute thats why we get 66 as output.

- In second task we got output for 'e' as 1024.
- In this task the addition function present in parenthesis execute first.
- then the power function is executes.
- thats why we got 1024 as output.